@import "tailwindcss";

*{
    font-family: "Poppins", system-ui;
}
.cherry{
  font-family: "Cherry Cream Soda", system-ui;
  font-weight: 400;
  font-style: normal;
}

.curvy-bottom {
  background: linear-gradient(to right, #4f46e5, #3b82f6);
  height: 300px;
  clip-path: ellipse(70% 100% at 50% 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

.text-stroke-white{
  text-shadow:
    -3px -3px 0 #fff,
    3px -3px 0 #fff,
    -3px 3px 0 #fff,
    3px 3px 0 #fff;
}

.text-shadow{
  text-shadow:
    -3px -3px 1px #ffb055,
    3px -3px 1px #ffb055,
    
}

.text-outline {
  text-shadow:
    -3px -3px 0 #fff,
    3px -3px 0 #fff,
    -3px 3px 0 #fff,
    3px 3px 0 #fff,
    0px 3px 0 #fff,
    3px 0px 0 #fff,
    0px -3px 0 #fff,
    -3px 0px 0 #fff;
}